/* NewsList.css */
.news-container {
  display: flex;
}

.news-list {
  flex: 1;
  max-width: 40%;
  overflow-y: auto; /* 목록이 부모 요소를 넘어가면 스크롤 생성 */
  max-height: calc(100vh - 100px); /* 화면 높이에서 헤더와 푸터의 높이를 뺀 만큼의 높이를 가짐 */
}

.news-detail {
  flex: 2;
  padding-left: 20px;
  max-width: 60%;
}

.news-item {
  cursor: pointer;
  margin-bottom: 20px;
  display: flex; /* 이미지와 텍스트를 가로로 배치 */
}

.news-item img {
  width: 100px; /* 이미지의 가로 크기를 100px로 설정 */
  height: 100px; /* 이미지의 세로 크기를 100px로 설정 */
  object-fit: cover; /* 이미지의 비율을 유지한 채로 100x100 크기로 맞춤 */
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격을 조정 */
}

.news-info {
  padding: 0 10px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.news-detail img {
  max-width: 50%; /* 이미지의 최대 가로 크기를 50%로 설정하여 현재 크기의 절반으로 만듭니다. */
  height: auto; /* 세로 크기는 자동으로 조정되어 비율을 유지합니다. */
}

